*{
    font-family: Arial, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    margin:0px;
    /* overflow-x: hidden; Скрыть скролл */
}
.container{
    /* border: solid; */
    width: 100%;
}

.need-padding {
    padding: 5pt;
}

nav a{
    border: 0px solid;
    display: block;
    font-size: 1.8em;
    text-align: center;
    background:rgb(91, 110, 192);
    color:white;
}
nav ul{
    border:1px solid;
    padding:0px;
    display: table;
    width:100%;
}
nav li{
    display: table-cell;
}
ul{
list-style-type: none;
}
h1{
    font-size: x-large;
    color:rgb(59, 42, 70);
}
h2{
    font-size: large;
    color:rgb(59, 42, 70);
}
/* a:link{color: rgb(134, 190, 50);}
a:visited{color: rgb(7, 151, 7);}
a:hover{color:rgb(206, 206, 22);}
a:active{color: black;} */
a{text-decoration: none;}


/* .cols a {color: white;} */

.cols {
    width: 100%;
    display: table;
    margin:0;
    /* background-color: rgb(125, 134, 125); */
}
.col h2 {
    color: white;
    
}
.col{
    /* border: solid; */
    /* display: inline-block; */
    display:table-cell;
    text-align: center;
    
}

.komnaty{
    background-color: rgba(214, 199, 199, 0.151);
    width: 45%;
}
footer .cols a {color: white;}

footer .cols {
    margin:0;
    background-color: rgb(125, 134, 125);
}
footer .col h2 {
    color: white;
    text-align: center;
}
footer .col{
    /* border: solid; */
    display:inline-block;
    text-align: left;
}

/*img*/
.likelogo{
    width: 400px;
}
img{
    width:200px;
}
footer img{
    width: 40px;
}
.details{
    width: 400px;
}
.kitchen{
    width: 200px;
}
/*Выпадающий список*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover, .dropdown:hover{
    background-color: lightblue;
  }

/*Следующее правило - плохое: окрашивает фон в белый цвет:
li.dropdown {
    display: inline-block;
  }
*/
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover {color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
  }

button, .button {
    padding: 5px 14px;
    font-size: 20px;
    /* font-size: 24px; */
    /* background-color: rgba(248, 16, 16, 0.856);   */
    background:rgb(91, 110, 192);  
    color: white;
    border: none;
}
button a{
    color:white;
    
}

 a.link-button:link{
    padding: 5px 14px;
    /* border: 1px black solid; */
    /* background-color: rgba(20, 219, 20, 0.685); */
    /* background-color: rgba(248, 16, 16, 0.856); */
    background:rgb(91, 110, 192);
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a.link-button:visited{
    padding: 5px 14px;
    /* background-color: rgba(20, 219, 20, 0.685); */
    /* background-color: rgba(248, 16, 16, 0.856); */
    background:rgb(91, 110, 192);
    color: white;
    font-size: 20px;
    text-decoration: none;
}
dt{
   font-style: italic;
}

@media screen and (max-width:700px){
    .container{
        width: 500px;
        border: 0;
    }
    header{
        text-align: center;
    }
    nav ul, nav li, .cols, .col{
        display: block;
    }
   
}